/**
 * Body
 */

.inner {
	position: absolute;
	height: 100%;
	width: 100%;
}

/**
 * MainLayout
 */
.MainLayout {
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;
	background-color: #fe0000;
	/* background-image: url(../_images/supermarket.jpg); */
}

	.MainLayout footer {
		color: white;
		text-align: center;
	}

	.MainLayout footer p {
		margin-bottom: 0;
	}

	.MainLayout .container {
		min-height: 100%;
		margin-bottom: -50px;
		padding-top: 10px;
	}

	.MainLayout .container:after {
		content: "";
		display: block;
	}

	.MainLayout img {
		margin: 0 auto;
		max-height: 200px;
	}

	.MainLayout .MainLayout__logo {
		text-align: center;
	}

	.MainLayout .MainLayout__logo img {
		display: inline-block;
		vertical-align: middle;
		max-width: 120px;
		margin-bottom: 5px;
	}

	.MainLayout .MainLayout__logo img:first-child {
		max-width: 100px
	}

	@media (min-width: 768px) {
		.MainLayout .MainLayout__logo img {
			max-width: 240px;
		}

		.MainLayout .MainLayout__logo img:first-child {
			max-width: 200px
		}
	}

	@media (min-height: 1023px) {
		.MainLayout .MainLayout__logo img {
			max-width: 200px;
			margin-bottom: 100px;
		}
	}

	@media (max-width: 256px) {
		.MainLayout {
			/* background-image: url(../_images/supermarket_256.jpg) */
		}
	}

	@media (max-width: 512px) {
		.MainLayout {
			/* background-image: url(../_images/supermarket_512.jpg) */
		}
	}

	@media (max-width: 1024px) {
		.MainLayout {
			/* background-image: url(../_images/supermarket_1024.jpg) */
		}
	}

	@media (max-width: 2048px) {
		.MainLayout {
			/* background-image: url(../_images/supermarket_1024.jpg) */
		}
	}

	.MainLayout .btn-block,
	.MainLayout .radio,
	.MainLayout .form-control {
		max-width: 300px;
		margin: 0 auto;
	}

	.MainLayout .radio {
		margin: 0 auto 10px auto;
		width: 100px;
	}
