/**
 * MainLayout
 */
.MainLayout {
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

	.MainLayout a {
		color: white;
	}

	.MainLayout .MainLayout__container {
		width: 100%;
		padding-top: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.MainLayout footer {
		color: white;
		text-align: center;
		align-self: flex-end;
	}

	.MainLayout footer p {
		margin-bottom: 0;
	}


	.MainLayout .MainLayout__container:after {
		content: "";
		display: block;
	}

	.MainLayout img {
		margin: 0 auto;
		max-height: 70px;
		float: none;
	}

	.MainLayout .MainLayout__logo {
		text-align: center;
	}

	.MainLayout .MainLayout__logo img {
		display: inline-block;
		vertical-align: middle;
		/* max-width: 120px; */
		margin-bottom: 5px;
		min-height: 50px;
	}

	.MainLayout .MainLayout__logo img:first-child {
		margin-right: 5px;
	}

	.MainLayout img.secondary-logo {
		max-height: 40px;
	}
	
	.MainLayout .MainLayout__logo img:last-child {
		margin-left: 5px;
		margin-right: 0;
	}



	.MainLayout .btn-block,
	.MainLayout .radio,
	.MainLayout .alert,
	.MainLayout .form-control {
		max-width: 280px;
		margin: 0 auto;
	}

	.MainLayout .alert {
		margin: 10px auto;
	}

	.MainLayout .radio {
		margin: 0 auto 10px auto;
		width: 100px;
	}

/* Ta-Ta */
	.MainLayout.tata {
		background-color: #fe0000;
	}

/* Multiahorro Hogar */
	.MainLayout.mhogar {
		background: #e9660e;
		background: radial-gradient(bottom right,250% 40%,#e9660e 0%,#e85c0d 50%,#f1920f 50%,#f08a02 100%);
	}

	.MainLayout.mhogar .btn-red,
	.MainLayout.mhogar .btn-dark-red {
		background-color: #d45509
	}

/* BAS */
	.MainLayout.bas {
		background-image: url(../_images/bas-background-pattern.png);
		background-repeat: repeat;
		background-size: 50px;
		color: #001566;
	}

	.MainLayout.bas .btn-red,
	.MainLayout.bas .btn-dark-red {
		background-color: #001566
	}

	.MainLayout.bas .btn,
	.MainLayout.bas .btn-social {
		color: white;
	}

	.MainLayout.bas .btn-link,
	.MainLayout.bas a,
	.MainLayout.bas p,
	.MainLayout.bas h3,
	.MainLayout.bas h4,
	.MainLayout.bas .radio,
	.MainLayout.bas footer {
		color: #001566;
	}


	.MainLayout.bas .loading {
		border-color: transparent #001566 transparent #001566;
	}

