/**
 * MainLayout
 */
.MainLayout {
	position: absolute;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;
	color: rgb(67, 67, 67);
}

	.MainLayout a {
		color: white;
	}

	.MainLayout footer {
		color: rgb(67, 67, 67);
		text-align: center;
	}

	.MainLayout footer p {
		margin-bottom: 0;
	}

	.MainLayout .MainLayout__container {
		min-height: 100%;
		margin-bottom: -50px;
		padding-top: 10px;
	}

	.MainLayout .MainLayout__container:after {
		content: "";
		display: block;
	}

	.MainLayout img {
		margin: 0 auto;
		max-width: 60%;
	}

	.MainLayout .MainLayout__logo {
		text-align: center;
	}

	.MainLayout .MainLayout__logo img {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 5px;
	}

	.MainLayout .btn-block,
	.MainLayout .radio,
	.MainLayout .alert,
	.MainLayout .form-control {
		max-width: 280px;
		margin: 0 auto;
	}

	.MainLayout .alert {
		margin: 10px auto;
	}

	.MainLayout .radio {
		margin: 0 auto 10px auto;
		width: 100px;
	}

	.MainLayout .ConatelLogo {
		max-height: 30px;
		margin-left: 5px;
		margin-bottom: 20px;
	}

/* Jobic */
	.MainLayout.jobic {
		background-color: rgb(250, 250, 250);
		color: rgb(67, 67, 67);
	}

	.MainLayout.jobic .Logo {
		font-family: 'Droid Sans';
		line-height: 50px;
    font-size: 48px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.MainLayout.jobic .btn-red,
	.MainLayout.jobic .btn-dark-red {
		background-color: #00386b;
	}

	.MainLayout.jobic .btn,
	.MainLayout.jobic .btn-social {
		color: white;
	}

	.MainLayout.jobic .btn-link,
	.MainLayout.jobic a,
	.MainLayout.jobic h3,
	.MainLayout.jobic h4,
	.MainLayout.jobic .radio,
	.MainLayout.jobic footer {
		color: rgb(67, 67, 67);
	}